[app]
	name = "Arcus"
	version = "1.0.0"
	author = "Myxbaah"
	owner = "148793367126474752"
	prefix = "[]"
	debug = true

[auth]
	token = ""

[[feeds]]
	feed_url = "https://blog.discordapp.com/rss/"
	channel_id = "145645642868452776"
	timeout = 20