[app]
	name 	= "Arcus"
	version = "1.1.4"
	author 	= "AI"
	owner 	= "148793367126474752"
	prefix 	= "[]"
	debug = true

[auth]
	token = ""

[[feeds]]
	feed_url = "https://blog.discordapp.com/rss/"
	channel_id = "1243436457423532134"
	timeout = 0
