[app]
	name = "Arcus"
	version = "0.9.0"
	author = "Myxbaah"
	owner = "148793367126474752"
	prefix = "[]"
	debug = false

[auth]
	token = ""

[[feeds]]
	feed_url = "https://rsstestdiscord.wordpress.com/feed/"
	channel_id = ""